[Unit]
Description=Ceph RGW
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker stop %i
ExecStartPre=-/usr/bin/docker rm %i
ExecStart=/usr/bin/docker run --rm --net=host -v /var/lib/ceph:/var/lib/ceph -v /etc/ceph:/etc/ceph -v /var/log/ceph/:/var/log/ceph -v /etc/localtime:/etc/localtime:ro --privileged --name=%i -e RGW_NAME=%i rgw:latest
ExecStopPost=-/usr/bin/docker stop %i
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target