[Unit]
Description=Ceph RGW
After=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker stop rgw.rgw4
ExecStartPre=-/usr/bin/docker rm rgw.rgw4
ExecStart=/usr/bin/docker run --rm -p {{ rgw4['radosgw_civetweb_port'] }}:{{ rgw4['radosgw_civetweb_port'] }} -v /var/lib/ceph:/var/lib/ceph -v /etc/ceph:/etc/ceph -v /var/log/ceph/:/var/log/ceph -v /etc/localtime:/etc/localtime:ro --privileged --name=rgw.rgw4 -e RGW_NAME=rgw.rgw4 rgw:latest
ExecStopPost=-/usr/bin/docker stop rgw.rgw4
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
