[client]
rgw_max_chunk_size= 4194304
rgw_md_log_max_shards = 128
rgw_data_log_num_shards = 256
rgw_cache_lru_size = 10000
rgw_enable_ops_log = False
rgw_enable_usage_log = True
rgw_gc_max_objs = 512
rgw_gc_obj_min_wait = 7200
rgw_gc_processor_max_time = 3600
rgw_gc_processor_period = 3600
rgw_num_rados_handles = 2
rgw_op_thread_timeout = 600
rgw_override_bucket_index_max_shards = 128
rgw_thread_pool_size = 500
rgw_usage_max_shards = 128
rgw_usage_max_user_shards = 1
rgw_user_quota_sync_interval = 1800
rgw_user_quota_sync_wait_time = 1800
#rgw_zone = guangzhou-2_gz-zone1
#rgw_zonegroup = guangzhou-2
#rgw_realm = tmp
#rgw_dns_name = eos-guangzhou-2.cmecloud.cn 
