[mon]
mon_osd_full_ratio = 0.95
mon_osd_nearfull_ratio = 0.85
mon_osd_adjust_heartbeat_grace = False
mon_osd_adjust_down_out_interval = False
mon_osd_down_out_interval = 43200
mon_clock_drift_allowed = 0.15
