#jinja2: trim_blocks: "true", lstrip_blocks: "true"
# {{ ansible_managed }}

{% include 'global.conf.j2' %}

{% include 'mon.conf.j2' %}

{% include 'osd.conf.j2' %}

{% include 'client.conf.j2' %}

{% if groups[mds_group_name] is defined %}
{% for host in groups[mds_group_name] %}
{% if hostvars[host]['ansible_fqdn'] is defined and mds_use_fqdn %}
[mds.{{ hostvars[host]['ansible_fqdn'] }}]
host = {{ hostvars[host]['ansible_fqdn'] }}
{% elif hostvars[host]['ansible_hostname'] is defined %}
[mds.{{ hostvars[host]['ansible_hostname'] }}]
host = {{ hostvars[host]['ansible_hostname'] }}
{% endif %}
{% endfor %}
{% endif %}


{% if rgw1 is defined %}                                                                        
[client.rgw.{{ rgw1['instance_name'] }}]                                                        
host = {{ ansible_hostname }}                                                                   
keyring = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw1['instance_name'] }}/keyring           
log_file = /var/log/ceph/{{ cluster }}-rgw-{{ rgw1['instance_name'] }}.log                      
rgw_data = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw1['instance_name'] }}                  
rgw_frontends = "civetweb port={{ rgw1['radosgw_civetweb_port'] }}"                             
{% if rgw1['rgw_enable_usage_log'] is defined %}rgw_enable_usage_log = {{ rgw1['rgw_enable_usage_log'] }}                                       
{% endif %}                                                                                     
{% endif %}                                                                                     
                                                                                                
{% if rgw2 is defined %}                                                                        
[client.rgw.{{ rgw2['instance_name'] }}]                                                        
host = {{ ansible_hostname }}                                                                   
keyring = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw2['instance_name'] }}/keyring           
log_file = /var/log/ceph/{{ cluster }}-rgw-{{ rgw2['instance_name'] }}.log                      
rgw_data = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw2['instance_name'] }}                  
rgw_frontends = "civetweb port={{ rgw2['radosgw_civetweb_port'] }}"                             
{% if rgw2['rgw_enable_usage_log'] is defined %}rgw_enable_usage_log = {{ rgw2['rgw_enable_usage_log'] }}                                       
{% endif %}                                                                                     
{% endif %}                                                                                     
                                                                                                
{% if rgw3 is defined %}                                                                        
[client.rgw.{{ rgw3['instance_name'] }}]                                                        
host = {{ ansible_hostname }}                                                                   
keyring = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw3['instance_name'] }}/keyring           
log_file = /var/log/ceph/{{ cluster }}-rgw-{{ rgw3['instance_name'] }}.log                      
rgw_data = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw3['instance_name'] }}                  
rgw_frontends = "civetweb port={{ rgw3['radosgw_civetweb_port'] }}"                             
{% if rgw3['rgw_enable_usage_log'] is defined %}rgw_enable_usage_log = {{ rgw3['rgw_enable_usage_log'] }}                                       
{% endif %}                                                                                     
{% endif %}                                                                                     
                                                                                                
{% if rgw4 is defined %}                                                                        
[client.rgw.{{ rgw4['instance_name'] }}]                                                        
host = {{ ansible_hostname }}                                                                   
keyring = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw4['instance_name'] }}/keyring           
log_file = /var/log/ceph/{{ cluster }}-rgw-{{ rgw4['instance_name'] }}.log                      
rgw_data = /var/lib/ceph/radosgw/{{ cluster }}-rgw.{{ rgw4['instance_name'] }}                  
rgw_frontends = "civetweb port={{ rgw4['radosgw_civetweb_port'] }}"                             
{% if rgw4['rgw_enable_usage_log'] is defined %}rgw_enable_usage_log = {{ rgw4['rgw_enable_usage_log'] }}                                       
{% endif %}                                                                                     
{% endif %}                                                                                     
