filestore_fd_cache_size = 16384
filestore_max_sync_interval = 5
filestore_min_sync_interval = 0.01
filestore_omap_header_cache_size = 16384
filestore_op_threads = 4
filestore_queue_max_bytes = 1073741824
filestore_queue_max_ops = 5000
journal_max_write_bytes = 1073741824
journal_max_write_entries = 5000
leveldb_write_buffer_size = 33554432
leveldb_compression = False
leveldb_cache_size = 536870912
leveldb_block_size = 65536
osd_client_message_cap = 100
osd_client_message_size_cap = 1073741824
#osd_crush_update_on_start = False
osd_client_op_priority = 63
osd_heartbeat_grace = 20
osd_heartbeat_interval = 6
osd_heartbeat_min_peers = 10
osd_mon_heartbeat_interval = 30
osd_op_complaint_time = 5
osd_op_threads = 3
osd_op_thread_timeout = 60
osd_scrub_begin_hour = 1
osd_scrub_end_hour = 5
osd_scrub_max_interval = 604800
osd_scrub_min_interval = 86400
osd_scrub_chunk_max = 25
osd_scrub_chunk_min = 5
osd_scrub_load_threshold = 0.5
osd_deep_scrub_interval = 2419200
osd_deep_scrub_stride = 524288
osd_recovery_threads = 1
osd_recovery_op_priority = 3
osd_recovery_max_single_start = 1
osd_recovery_max_chunk = 4194304
osd_recovery_max_active = 3
