[osd]
osd_mkfs_type = {{ osd_mkfs_type }}
osd_mkfs_options xfs = {{ osd_mkfs_options_xfs }}
osd_mount_options xfs = {{ osd_mount_options_xfs }}
osd_journal_size = {{ journal_size }}
{% if filestore_xattr_use_omap != None %}
filestore_xattr_use_omap = {{ filestore_xattr_use_omap }}
{% elif osd_mkfs_type == "ext4" %}
filestore_xattr_use_omap = true
{# else, default is false #}
{% endif %}